body {
  background-image: url('https://cdn.flintrehab.com/uploads/2018/08/natural-remedies-in-homeopathy-600x401.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #003322;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

 .text-box{
  width: 90%;
  color: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center; 

}

.text-box h1{
  font-size: 62px;

}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #003322;
}

